{% extends 'base.html' %}
{% block content %}
    <nav class="row" style="background: skyblue; color: white;">
    <div align="center" ><h1 class="col-md-3 text-center"> AUNTHENTIFICATION</h1></div>
  </nav>
    <p>{{ message }}</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Se connecter </button>
    </form>

    <p><a href="{% url 'register' %}">Inscription</a></p>
    <p><a href="{% url 'index' %}">Retourner en arrière </a></p>
{% endblock content %}